$light-background: #ffffff; /*São variáveis que definem as cores para os temas claro e escuro.*/
$light-color: #000000;
$dark-background: #000000;
$dark-color: #ffffff;
/**/

/*Definem as cores de fundo e texto para os temas claro e escuro,
 respectivamente.*/
body.light, .light .container  {
  background-color: $light-background;
  color: $light-color;
}


/*Definem as cores de fundo e texto para os temas claro e escuro,
 respectivamente.*/
body.dark ,
.dark .container {
  background-color: $dark-background;
  color: $dark-color;
}


/*Estiliza o contêiner das tarefas, definindo uma margem inferior
 e um espaçamento à direita para o elemento de entrada de texto.*/
.task-container {
  margin-bottom: 10px;

  input[type="text"] {
    margin-right: 10px;
  }
}

/*Estiliza cada tarefa, definindo um layout flexível, espaçamento interno,
borda, borda arredondada e alinhamento dos itens. Também estiliza as ações
das tarefas, como botões dentro das tarefas.*/
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  border: 1px solid #cccccc; /* Adiciona uma borda ao redor da tarefa */
  padding: 5px; /* Adiciona um espaço interno à tarefa */
  border-radius: 5px;

  &-actions {
    display: flex;
    align-items: center;

    button {
      margin-left: 5px;
    }
  }
}

/*Estiliza as tarefas marcadas como concluídas, aplicando uma linha sobre
 o texto e uma cor mais suave.*/
.task-done {
  text-decoration: line-through;
  color: #888888;
}

/*Define estilos para os títulos de nível 2 e 1, respectivamente, como tamanho
 da fonte e alinhamento de texto.*/
h2 {
  font-size: 1em; /* Você pode ajustar este valor conforme necessário */
}

/*Define estilos para os títulos de nível 2 e 1, respectivamente, como tamanho
 da fonte e alinhamento de texto.*/
h1 {
  font-size: 1.5em; /* Você pode ajustar este valor conforme necessário */
  text-align: center;
}

/*Define o alinhamento do texto para o corpo da página.*/
body {
  text-align: center;
}

/*Estiliza o contêiner principal da página, definindo sua cor de fundo, cor do texto,
borda, sombra, preenchimento, raio de borda e largura máxima.*/
.container {
  background-color: #023047;
  color: #888888;
  border: 2px solid #f5ebe0;
  box-shadow: 0 0 10px #324a50;
  padding: 10px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 400px;

}



